.hbox
{
    width: 250px;
    height: 250px;
    border-radius: 20%;
    column-count:3;
    column-gap: 5px;
    margin: 10px;
    background-size: cover;
}

section .html{background-image: url(../../imagem/habilidades/html.png);}
section .css{ background-image: url(../../imagem/habilidades/css.png);}
section .js{background-image: url(../../imagem/habilidades/java.png);}
section .ps{background-image: url(../../imagem/habilidades/photoshop.png);}
section .react{background-image: url(../../imagem/habilidades/react.png);}
section .vite{background-image: url(../../imagem/habilidades/vite.png);}
section .git{background-image: url(../../imagem/habilidades/gitrub.png);}