.box
{
    width: 800px;
    height: 600px;
}
.boxInfo
{
  color: var(--corTexto);
  text-align: center;
  text-transform: uppercase;
}
h1
{
  font-size: 25px;
  margin-top: 20px;
}
h2
{
  font-size: 30px;
  color: rgba(255, 255, 255, 0.87);;
}
.info
{
  font-size: 20px;
  margin-top: -110px;
}
.redessociais
{
  width: 800px;
  height: auto;
  display: flex;
  flex-wrap: nowrap;
}

.boxSocial
{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: aliceblue;
  background-size: cover;
  margin: 20px;
}
.facebook
{
  background-image: url(../../imagem/redesSociais/facebook.png);
}
.instagram
{
  background-image: url(../../imagem/redesSociais/instagram.png);
}
.linkedin
{
  background-image: url(../../imagem/redesSociais/linkedin.png);
}
.git
{
  background-image: url(../../imagem/redesSociais/git.png);
}