.boxInfo
{
  width: 300px;
}
h1
{
  font-size: 25px;
  margin-top: 20px;
  color: #CBE4DE;
  width: 800px;
}
.contato
{
  width: 100%;
  height: auto;
  margin-top: -80px;
}
p
{
  font-size: 35px;
  color: #CBE4DE;
  padding-top: 20px;
  margin-left: 50px;
  margin-top: -150px;
}
.redessociais
{
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: nowrap; 
  align-items: center;
  justify-content: center;
  margin-top: -120px;
}

.boxSocial
{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: aliceblue;
  background-size: cover;
  margin: 20px;
}
.facebook
{
  background-image: url(../../imagem/redesSociais/facebook.png);
}
.instagram
{
  background-image: url(../../imagem/redesSociais/instagram.png);
}
.linkedin
{
  background-image: url(../../imagem/redesSociais/linkedin.png);
}
.git
{
  background-image: url(../../imagem/redesSociais/git.png);
}