ul,li
{
    line-height: 2px;
    list-style: none;
}

p,Link
{
    font-size: 20px;
    line-height: 2em;
    text-transform: uppercase;
    font-style:oblique;
    color: #CBE4DE;
    text-decoration: none;
    margin-top: 70px;
    padding-top: 10px;
}

p,Link:hover
{
    font-style: italic;
    color: var(--corHover);
    cursor: pointer;
}