.box
{
    width: 800px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
}

.imgProjeto
{
    width: 230px;
    height: 250px;
    border:1px solid rebeccapurple;
    border-radius: 5px;
    margin: 10px;
    text-align: center;
    justify-items: center;
}
span
{
    color: white;
    font-size: 30px;
    margin: 0 auto;
}