.box
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    border:1px solid rgb(32, 164, 60);
}


.imgProjeto
{
    width: 230px;
    height: 250px;
    border:1px solid rebeccapurple;
    border-radius: 20%;
    margin: 30px;
    text-align: center;
    justify-items: center;
    background-size: cover;
}
.verMais
{
    color: #CBE4DE;
    font-size: 25px;
    font-weight: 500;
    background-color: #2E4F4F;
    border-radius: 30%;
}
.verMais:hover
{
    cursor: pointer;
    background-color: #0E8388;
    color: black;
}

.webcurriculo
{
    background-image: url(../../../imagem/projetos/webcurriculo.PNG);
}

.doceria
{
    background-image: url(../../../imagem/projetos/doceria.png);
}

.siteComercial
{
    background-image: url(../../../imagem/projetos/siteComercial.png);
}

.portifolio
{
    width: 270px;
    height: 250px;
    background-image: url(../../../imagem/projetos/portifolio.png);
}