#root {
width: 100%;
height: auto;
margin: 0;
padding: 0;
box-sizing: border-box;
line-height: 2px;
overflow: hidden;
--corbackground: #2C3333;
--corTexto: #CBE4DE;
--corBordas: #2E4F4F;
--corHover: #0E8388;
}

.containergeral
{
  display: flex;
  flex-wrap: nowrap;
  background-color: var(--corbackground);
  width: 100%;
  height: auto;
}

.sessoes
{
  width: 65%;
  height: 700px;
  margin-top: 5%;
}
nav
{
  width: 90%;
  height: 50px;
  text-align: center;
}
section
{
  width: 100%;
  height: 650px;
  display: flex;
  flex-wrap: wrap;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

