.box
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    border:1px solid rgb(32, 164, 60);
}

.bloco
{
    width:250px;
    height: 220px;
    border: 1px solid black;
    overflow: auto;
    margin: 3PX;
    text-align: center;
    background-size: cover;
    opacity: 0.5;
}
.bloco:hover
{
    >a{visibility: visible;}
    >h3{visibility: hidden;}
}
h3
{
    font-size: 20px;
    color: black;
    line-height: 20PX;
    text-shadow: 2px 2px #CBE4DE;
}
.bloco a
{
    font-size: 40px;
    text-decoration: none;
    list-style: none;
    visibility: hidden;
}
.bloco a:hover
{
    visibility: visible;
    color: #2E4F4F;;
}

.fid
{
    background-image: url(../../imagem/certificados/sistemafid.png);
}

.udemy1
{
    background-image: url(../../imagem/certificados/htm5css3udemy.jpg);
}
.udemy3
{
background-image: url(../../imagem/certificados/javacompletoudemy.jpg);
}
.udemy4
{
background-image: url(../../imagem/certificados/javaspringudemy.jpg);
}
.iped1
{
    background-image: url(../../imagem/certificados/phpmysqliped.png);
}
.iped2
{
    background-image: url(../../imagem/certificados/ipedhtml.png);
}
.brava
{
    background-image: url(../../imagem/certificados/html5brava.png);
}
.soft
{
    background-image: url(../../imagem/certificados/mysqlsofyblue.png);
}
.ensinon1
{
    background-image: url(../../imagem/certificados/html5en.png);
}
.ensinon2
{
   background-image: url(../../imagem/certificados/phpen.png);
}